amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
celery==5.6.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap5==2025.6
cryptography==46.0.3
Django==6.0
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-countries==8.2.0
django-crispy-forms==2.5
django-filter==23.3
django-js-asset==3.1.2
django-mptt==0.18.0
django-phonenumber-field==8.4.0
django-rosetta==0.10.3
djangorestframework==3.16.1
humanize==4.15.0
idna==3.11
kombu==5.6.2
packaging==25.0
paypalrestsdk==1.13.3
phonenumbers==9.0.21
pillow==12.0.0
polib==1.2.0
prompt_toolkit==3.0.52
pycparser==2.23
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
redis==7.1.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
stripe==14.1.0
tenacity==9.1.2
transaction==5.0
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.11.0
zope.interface==8.1.1
