asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
crispy-bootstrap5==2025.6
cryptography==46.0.3
Django==6.0
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-countries==8.2.0
django-crispy-forms==2.5
django-filter==25.2
django-js-asset==3.1.2
django-mptt==0.18.0
django-phonenumber-field==8.4.0
django-rosetta==0.10.3
djangorestframework==3.16.1
idna==3.11
phonenumbers==9.0.21
pillow==12.0.0
polib==1.2.0
pycparser==2.23
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.2
